@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://rsms.me/inter/inter.css');

:root {
	--backdrop: #E5E5E1;
	--white: white;
	--gray: #403D30;
	--yellow: #E9CF49;
}

::selection {
  background: var(--yellow);
}

::-moz-selection {
	background: var(--yellow);
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Inter', sans-serif;
	letter-spacing: -0.011 em;
}

@supports (font-variation-settings: normal) {
  html, body { font-family: 'Inter var', sans-serif; }
}

body {
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	background-color: var(--backdrop);
	color: var(--gray);
}

main {
	max-width: 37.5rem;
}

p,
pre,
code {
	line-height: 1.5;
}

pre,
code {
	font-family: 'Roboto Mono', monospace;
}

a[href],
a[href]:visited {
	position: relative;
	z-index: 2;
	color: var(--gray);
}

a[href]:not(:hover) {
	text-decoration: none;
	border-bottom: 1px solid var(--gray);
}

a[href]:hover {
	text-decoration: none;
	border-bottom: 2px solid var(--gray);
}

header {
	padding: 1rem;
}

main,
footer {
	padding: 2rem;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

ul {
	padding: 0;
	list-style: none;
}

blockquote {
	margin-left: 0;
	padding-left: 1rem;
	border-left: 2px solid var(--gray);
}

/* Main */

main h2,
main h3,
main h4,
main h5,
main h6 {
	margin: 2rem 0 0 0; 
}

main h3,
main h4,
main h5,
main h6 {
	font-size: 1.1em;
	text-transform: uppercase;
}


/* Header */

header h1 {
	display: inline-block;
	font-size: 1.2rem;
	margin: 0;
	padding: .5rem 1rem;
	font-weight: 900;
	font-style: normal;
	text-transform: uppercase;
	border: 1px solid var(--gray);
	border-bottom: none;
}


/* Header Nav */
header nav ul {
	display: inline-block;
	margin: 0;
	border-left: 1px solid var(--gray);
}

header nav li {
	font-size: 1rem;
	display: inline-block;
	margin: 0;
	padding: 0.5rem 1rem;
	border: 1px solid var(--gray);
	border-left: none;
}

header nav li:nth-child(n+5) {
	margin-top: -1px;
}

article h3 a[href]:not(:hover),
header a[href]:not(:hover),
nav a[href]:not(:hover) {
	border-bottom: none;
}

header nav li a[data-current='current item'] {
	position: relative;
}

header nav li a[data-current='current item']::before,
header nav li a:hover::before {
	content: '';
	display: block;
	position: absolute;
	z-index: -1;
	bottom: 2px;
	left: 0;
	right: 0;
	width: 100%;
	height: 25%;
	background-color: var(--yellow);
	border-bottom: none;
}

header nav li a[href]:hover {
	border-bottom: none;
}

/* Posts List */
article {
	margin: 2.5em 0 2.5em 0;
	padding: 0 0 2rem 0;
	border-bottom: 2px solid var(--white);
}

article h3 {
	margin-bottom: 0;
	font-weight: 900;
	font-size: 1.5em;
	text-transform: none;
}

.content img {
	max-width: 100%;
	padding: 10px;
	border: 1px solid var(--gray);
}

main > section > article > * {
	margin-top: 0;
}

/* Post Tags */
a[rel='tag'],
a[rel='tag']:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: 0.05rem;
	font-weight: 500;
  font-size: 0.65em;
  padding: 0.05rem .75rem 0 0.75rem;
	line-height: 2em;
	height: 2em;
	background-color: var(--white);
	color: var(--gray);
	border-radius: .25em;
  text-decoration: none;
	margin: 0 .5em 0 0;
}

a[rel='tag'][href]:not(:hover) {
	border-bottom: none;
}

a[rel='tag']:hover {
	background-color: var(--gray);
	color: var(--white);
}

a[rel='tag']:last-child {
	margin-right: 0;
}


/* Posts */

article h1 {
	font-size: 2rem;
	font-weight: 900;
	letter-spacing: -0.022em;
	margin-bottom: 0.25rem;
}

article .metadata {
	margin: 0 0 0.75em 0;
	font-family: 'Roboto Mono', monospace;
}

article .content {
	margin: 2em 0;
}


/* Contact Form */

form {
  display: grid;
	padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
	/* font-family: 'Roboto Mono', monospace; */
}

input,
textarea {
	border: 2px solid var(--gray);
	outline: none;
}

button {
	border: 1px solid var(--gray);
	background-color: var(--gray);
	color: var(--white);
	cursor: pointer;
}

@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}
}


/* Footer */

footer {
	margin-bottom: 3rem;
}