<footer>
  ⌐<br><br>
  <small>
    Copyright © 2019. <a href="https://jdsimcoe.com/">{{ metadata.title }}</a>. <br>
    All rights reserved. <br>
    <a href="/colophon/">Colophon</a>. <a href="/feed.xml">RSS</a>.
  </small>
</footer>
