<footer>
  <p>
    ⌐ <br><br>
    <small><strong>IMPRESSUM</strong></small><br>
    Copyright © 2019.<br><a href="https://jdsimcoe.com/">{{ metadata.title }}</a> &amp; <a href="/postpost">PostPost LLC</a>. <br>
    All rights reserved. <br>
    <a href="/privacy/">Privacy</a>. <a href="/colophon/">Colophon</a>. <a href="/feed.xml">RSS</a>.
    <br><br>⌙<br><br>
    <small>
      <a href="{{ metadata.author.twitter }}">Twitter</a>. 
      <a href="{{ metadata.author.dribbble }}">Dribbble</a>. 
      <a href="{{ metadata.author.instagram }}">Instagram</a>. 
      <a href="{{ metadata.author.github }}">GitHub</a>. 
      <a href="{{ metadata.author.arena }}">Are.na</a>.
    </small>
  </p> 
</footer>
<script>
(function(f, a, t, h, o, m){
  a[h]=a[h]||function(){
    (a[h].q=a[h].q||[]).push(arguments)
  };
  o=f.createElement('script'),
  m=f.getElementsByTagName('script')[0];
  o.async=1; o.src=t; o.id='fathom-script';
  m.parentNode.insertBefore(o,m)
})(document, window, '//anthracite.herokuapp.com/tracker.js', 'fathom');
fathom('set', 'siteId', 'RUUHM');
fathom('trackPageview');
</script>