---
layout: layouts/base.njk
section: post
---

<article>
  <h1>{{ title }}</h1>
  <div class="metadata">
    Published on <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time>
  </div>
  <div class="content">
    {{ layoutContent | safe }}
    
    {% if tags %}
      <p>
      {% for tag in tags %}
        {%- if tag != "post" -%}
          {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
        {%- endif -%}
      {% endfor %}
      </p>
    {% endif %}
  </div>
</article>

<nav>
  <a href="{{ '/blog/' | url }}">← Blog index</a>
</nav>
